<h1>Show ClassicCrud</h1>
 <div class="crud-input">Title: {{model.classicCrud}}</div>
  <div class="crud-attr">name: {{model.name}}</div>
  <div class="crud-attr">is-valid: {{model.is-valid}}</div>
  <div class="crud-attr">text: {{model.text}}</div>
<!-- attributes go here -->
<hr>
{{#link-to 'classic-cruds.classic-crud.edit' model tagname="button" }}Edit{{/link-to}}

<button {{action 'delete'}} class="pull-right">Delete</button>